<head>
    <meta charset="utf-8">
 <title>Python Flask Jquery Ajax Autocomplete</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
<body>
<center>
<h1>{{ form.autocomp.label }}: {{ form.autocomp }}
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#footballer_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>
</center>
</h1>  </body>
</html>
